# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.sqlite3
instance/
.env
venv/
.env.local

# ==============================
# Node
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ==============================
# Build / Dist
# ==============================
dist/
build/
*.log

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Secrets
# ==============================
.env
*.pem
